---
import type { ProductiveData } from "@/lib/getProductiveData";
import ArrowIcon from "./assets/ArrowIcon.astro";

interface Props extends ProductiveData {}
const { title, firstParagraph, secondParagraph, ctaText, imageUrl } =
  Astro.props;
---

<section id="team" class="bg-navy-900">
  <div
    class="custom-container flex flex-col lg:flex-row items-center lg:justify-center gap-16 overflow-visible!"
  >
    <figure
      class="w-full max-w-lg h-[218px] min-[375px]:h-[255px] min-[425px]:h-[290px] sm:h-[388px]"
      data-aos="fade-right"
    >
      <img
        class="w-full object-contain"
        src={imageUrl}
        alt="Stay productive, wherever you are"
      />
    </figure>

    <article
      class="flex flex-col gap-4 text-white font-opensans-400 max-w-md"
      data-aos="fade-left"
    >
      <h2 class="font-raleway-700 text-center text-xl mb-2">
        {title}
      </h2>

      <p>
        {firstParagraph}
      </p>

      <p>
        {secondParagraph}
      </p>

      <a
        href="#"
        class="text-teal-200 flex gap-2 border-b w-fit pb-1 custom-transition hover:text-white active:text-white"
      >
        <span>{ctaText}</span>
        <figure class="w-6 h-6 object-contain">
          <ArrowIcon className="w-full" />
        </figure>
      </a>
    </article>
  </div>
</section>
